@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
	font-family: "PT Root UI";
	font-weight: 500;
	font-size: medium;
	src: url("../fonts/PT-Root-UI_Medium.woff") format("woff");
}
@font-face {
	font-family: "PT Root UI";
	font-weight: 400;
	font-size: normal;
	src: url("../fonts/PT-Root-UI_Regular.woff2") format("woff2");
}
@font-face {
	font-family: "PT Root UI";
	font-size: bold;
	font-weight: 700;
	src: url("../fonts/PT-Root-UI_Bold.woff2") format("woff2");
}