@import "colors.scss";

li {
	list-style-type: none;
}
a {
	text-decoration: none;
	text-underline-position: none;
}
a:hover {
	color: $white;
}
.container-fluid {
	padding: 0;
}
img {
	object-fit: contain;
}