@import "colors.scss";
@import "fonts.scss";
@import "reset.scss";
@import "components.scss";

.nav, ul, nav, li {
	display: flex;
	align-items: center;
	margin: 0;
}
.nav div {
	height: 90px;
	display: flex;
	align-items: center;
	padding: 0;
}
nav {
	height: 90px;
}
.nav {
	background: $darkblue;
	height: 90px;
	
	li {
		height: 90px;
		display: flex;
		padding-right: 3px;
		padding-left: 3px;
		margin-left: 11px;

		a {
		color: $white;
		font-family: 'PT Root UI';
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}
	}

	li:hover {
		transition: all 0.5s;
		background: $whiteblue;
	}
}

.logo__name {
	font-family: 'PT Root UI';
	font-style: bold;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;

	&.white {
		color: $white;
	}
	&.red {
		color: $red;
	}
}

.nav__phone {
	color: $white;
	font-family: 'PT Root UI';
	font-style: bold;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	margin-left: 37px;
}

// Main Section

.main__section {
	background: $grey;
	height: 568px;
	.container {
		display: flex;
	}
}

.main__info {
	padding-top: 36px;
}

.main__image {
	margin-top: 22px;
	position: relative;
	margin-left: -20px;
}

.section__header {
	color: $darkblue;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 61px;
	width: 632px;
}

.section__subheader {
	color: $subheader;
	font-family: 'PT Root UI';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 40px;
	margin-top: 16px;
	max-width: 535px;
}

// Stages

.stages__section .container {
	margin-top: 80px;
	.title {
		max-width: 575px;
	}

	margin-bottom: 80px;
}
.stage__subtitle {
	max-width: 374px;
}
.stages__list {
	display: flex;
	flex-direction: column;
}
.stage {
	display: flex;
	flex-direction: row;
}
.stage {
	width: 375 + 234 + 8px;
	align-self: flex-end;
	height: 234px;
}
.stage__line {
	position: relative;
	margin-top: -38px;
}
.stage:nth-child(2n) {
	align-self: flex-start;
	flex-direction: row-reverse;
}
.stage__image {
	position: relative;
	margin-right: 8px;
	width: 234px;
	width: 234px;
}
.stage__images {
	width: 289px;
}

.stage:last-child {
	.stage__images {
		.stage__line {
			display: none;
		}
	}
}




@media screen and (min-width: 1400px) {
	.stage {
		margin-right: 90px;
	}
	.stage:nth-child(2n) {
		margin-right: 0px;
		.stage__images {
			margin-left: 90px;
		}
	}
}


// Steps Section
.steps__section {
	background: $grey;
	padding-top: 80px;
	padding-bottom: 80px;
	.title {
		margin-bottom: 30px;
	}
}
.steps__list {
	display: flex;
}
.step {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 375px;
	margin-right: 25px;
}
.step:last-child {
	margin-right: 0;
}
.step:first-child {
	.step__image {
		position: relative;
		margin-right: -20px;
	}
}
.step__image {
	width: 127px;
	margin-left: calc(375px / 2) - calc(127px / 2);
}
.step__images {
	display: flex;
}
.step__title {
	text-align: center;
	font-size: 25px;
	margin-bottom: 20px;
	margin-top: 11px;
	line-height: 30px;
}
.step__subtitle {
	text-align: center;
}

.content__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 140%;
}
.content__subtitle-bold, .content__subtitle {
	margin: 0!important;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
}

.steps__advantage {
	margin-right: 32px;
	width: 121px;
	margin-top: 16px;
}
.info__content {
	display: flex;
	flex-direction: column;
}
.steps__info {
	display: flex;
	margin-top: 60px;
}
.info__content__container {
	display: flex;
	margin-top: 19px;
}
.content__time {
	width: 234px;
	text-align: right;

	p {
		width: 234px;
		margin-bottom: 0!important;
	}
	p:first-child {
		margin-bottom: 10px!important;
	}
}
.title.content__title {
	margin-bottom: 15px;
}
.content__questions {
	margin-left: 25px;
	.content__subtitle {
		text-align: left;
		max-width: 570px;
	}
	.subtitle {
		margin-bottom: 15px;
	}
}

// Cases
.cases__section	{
	padding-top: 80px;
	padding-bottom: 80px;
}
.cases__title {
	margin-bottom: 33px;
}
.cases__header {
	display: flex;
	justify-content: space-between;
}
.swiper {
	overflow: hidden;
	width: 1175px;
}
.swiper-wrapper {
	  display: flex;
	  width: 100%;
	  box-sizing: border-box;
	  
}
	

.slider__buttons {
	margin-right: 123px;
	button {
		background: #2E4277;
		box-shadow: 2px 2px 0px #1B2A4F;
		width: 48px;
		height: 48px;
		border: none;
	}
}

.case {
	width: 375px;
	background: $darkblue;
	border-bottom: 8px solid $whiteblue;
	p, li {
		color: $white;
	}
	li {
		list-style-image: url("../images/caseline.png");
		list-style-type: all;
	}
	.title {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 7px;
		margin-top: 10px;
	}
	.subtitle {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 10px;
	}

}
.case__bottom {
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	justify-content: space-between;
}

.case__li {
	display: flex;
	align-items: flex-start;
	max-width: 260px;
	img {
		position: relative;
		margin-top: 7px;
		margin-right: 5px;
	}
}
.case__links {
	align-self: center;
}
.case__image {
	width: 375px;
	height: 205px;
}


// Advantages
.advantages__section {
	padding-bottom: 80px;
}
.advantage__item {
	max-width: 376px;
	margin-right: 25px;
	margin-bottom: 25px;
}
.advantage-item:nth-child(3n) {
	margin-right: 0px;
}
.advantages__title {
	margin-bottom: 40px;
	line-height: 52px;
}
.advantages__list {
	display: flex;
	flex-wrap: wrap;
}
.advantage__title {
	font-size: 25px;
	line-height: 32px;
}

// Cost
.cost__section {
	background: $grey;
}
.cost__section .container {
	display: flex;
	padding-bottom: 80px;
}
.cost__info {
	display: flex;
	flex-direction: column;
	max-width: 574px;
	h4 {
		margin-bottom: 40px;
		margin-top: 80px;
	}
	.header {
		font-weight: 700;
		font-size: 25px;
		line-height: 140%;
		margin-bottom: 15px;
	}
	b {
		font-weight: 500;
		color: $subheader;
	}
	b, p {
		font-size: 18px;
		line-height: 25.2px;
	}
}
.cost__image img {
	margin-left: 20px;
}



// Contact
.contact__container {
	display: flex;
}
.contact__section {
	background: linear-gradient(90deg, $contact 50%, $grey 50%);
	display: flex;
	max-height: 528px;
	form {
		background: $contact;
		width: 91%;
		padding-right: 86px;
		
		padding-top: 50px;
		padding-bottom: 91px;
		display: flex;
		flex-direction: column;
		.title {
			color: $white;
			margin-bottom: 20px;
		}
		.subtitle {
			color: $white;
			font-size: 18px;
			margin-bottom: 56px;
		}

		input, textarea {
			border: none;
			border-bottom: 2px solid $white;
			background-color: $contact;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: $white;
			opacity: 1.0;
			padding-left: 5px;
			margin-bottom: 15px;
			padding-bottom: 7px;
		}
		input::placeholder {
			color: $white;
			opacity: 1.0;
		}
		.half-opacity::placeholder {
			opacity: 0.5;
		}
		textarea {
			height: 70px;
			margin-bottom: 20px;
		}
		textarea::placeholder {
			opacity: 1.0;
			color: $white;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
		}
	}

}

.form__info {
	display: flex;
	justify-content: space-between;

	button {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	width: 200px;
	height: 46px;
	color: $darkblue;
	border: none;		
	background: #FFFFFF;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
}
.form__alert {
	color: $white;
	max-width: 296px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	a {
		color: $white;
		text-decoration: underline;
	}
}
.question {
	color: $white;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	padding-left: 5px;
	margin-bottom: 0;
}
.contact__details {
	a:hover {
		color: $subheader;
	}
	display: flex;
	flex-direction: column;
	.title {
		margin-bottom: 21px;
	}
	padding-top: 50px;
	background: $grey;
	width: 100%;
}
.details__up {
	display: flex;
	padding-left: 35px;
	margin-bottom: 30px;
}
.details-bold {
	font-weight: 500;
	text-decoration: none;
	font-size: 19px;
	line-height: 23px;
	color: $subheader;
}
.details__links {
	margin-top: 44px;
}
.details__link {
	margin-right: 10px;
}
.details__link:last-child {
	margin-right: 0;
}
.details__company {
	margin-left: 75px;
	padding-top: 68px;
	p {
		margin-top: 27px;
	}
}

.contact__map {
	width: 100%;
	margin-top: -13px;
}

footer {
	padding-top: 21px;
	padding-bottom: 18px;
	p {
		margin-bottom: 0;
	}
	background-color: $darkblue;
	.container {
		display: flex;
		align-items: center;
		* {
			flex-basis: 33%;
		}
		.footer__info {
			font-family: 'PT Root UI';
			font-weight: 400px;
			font-size: 14px;
			line-height: 18px;
			color: white;
			text-align: center;
		}
	}
}
.copyright__links {
	font-size: 10px;
	line-height: 13px;
	color: white;
	a {
		color: white;
		margin-top: 5px;
	}
}
.footer__copyright-red {
	color:#C43C1E;
	margin-left: 0;
	padding-left: 0;
}
.footer__logo {
	display: flex;
	img, span {
		flex-basis: unset;
	}
}









.hamburger {
	display: none;
}
@media (max-width: 1398px) {
	.advantages__list {
		display: flex;
	}
	.advantage__item {
		flex-basis: 30%;
		max-width: unset;
	}
	.slider__buttons {
		margin-right: 0;
	}
	.swiper {
		width: 100%;
	}
	.case {
		width: 355px;
	}
	
	.case__image {
		width: 355px;
		img {
			width: 355px;
		}
	}

}
@media (max-width: 1250px) {
	.main__image {
		right: 20px;
	}
}

@media (max-width: 1200px) {
	.main__image, .main__image img {
		width: 400px;
		margin-top: 20px;
	}

	.hamburger {
		display: block;
		color: white;
		font-size: 36px;
	}
	.nav__links {
		display: flex;
		flex-direction: column;
	}

	.container-fluid .nav {
		height: 100%;
		align-items: flex-start;
	}
	nav {
		flex-direction: column;
		width: 100%;
	}
	.nav__logo {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.nav.active {
		
		.container, nav {
			height: 100vh;
		}

		li:hover {
			background: transparent;
		}
		height: 100vh;
		.nav__item {
			width: 100%;
			justify-content: center;
		}
		.nav__links {
			display: flex;
			width: 100%;
		}
		.nav__contact {
			margin-top: 50px;
		}
	}




	.steps__list {
		.step__line {
			display: none;
		}
		flex-direction: column;
		.step {
			margin: 0 auto;
		}
	}
	h2 {
		text-align: center;
	}
	.stage__line {
		display: none;
	}
	.stage {
		width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;
		height: unset;
		align-self: center;
	}
	.case__image, .case__image img {
		width: 295px;
		height: 162px;
	}

	.contact__section form .subtitle {
		margin-bottom: 20px;
	}
	.line {
		width: unset;
	}
	
	.contact__section {
		overflow: hidden;
	}
}
@media (max-width: 1100px) {
	.main__image, .main__image img {
		width: 350px;
	}
}
@media (max-width: 998px) {
	.section__header {
		font-size: 32px;
		line-height: 44px;
		width: unset;
	}
	.section__subheader {
		font-size: 24px;
	}
	.main__image, .main__image img {
		margin-left: 40px;
	}


	.advantage__item:nth-child(2n) {
		margin-right: 0;
	}
	
	.case__image, .case__image img {
		width: 330px;
		height: 180px;
	}
	.advantage__item {
		flex-basis: 45%;
	}
	.cost__image, .cost__image img {
		width: 350px;
		align-self: center;
	}
	.details__up {
		padding-left: 10px;
	}
	.details__company {
		margin-left: 10px;
	}
	.contact__section form, .contact__details {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
	}
}

@media (max-width: 900px) {
	.contact__container {
		display: flex;
		flex-direction: column;
	}
	.contact__section {
		    background: linear-gradient(180deg, #384E85 50%, #F8F9FF 50%);
		max-height: unset;

		form {
			padding-right: 0;
			width: 100%;
			padding-top: 30px;
		}
	}
	.details__up {
		justify-content: space-between;
	}
	.contact__form {
		height: 478px;
		width: 100%;
	}
}

@media screen and (max-width: 770px) {
	.main__image {
		display: none;
	}
	.nav__links {
		display: none;
	}
	.main__section {
		height: unset;
		padding-bottom: 30px;
	}
	h1, h2, h3, h4, h5 {
		text-align: center;
	}
	.steps__info {
		flex-direction: column;
		.steps__advantage {
			display: none;
		}

	}

	.case {
		width: 535px;
	}
	.case__image, .case__image img {
		width: 535px;
		height: 290px;
		object-fit: contain;
	}
	.cost__image {
		display: none;
	}

}

@media (max-width: 600px) {
	.hamburger {
		margin-right: 10px;
	}
}
@media (max-width: 560px) {
	.case {
		width: 100vw;
		margin-right: 0;
	}
	.case__image img, .case__image {
		width: 100vw;
		height: auto;
	}
}

@media (max-width: 480px) {
	.title {
		font-size: 28px!important;
	}
	.content__questions {
		margin-left: 10px;
	}
}
@media (max-width: 430px) {
	.title {
		font-size: 26px!important;
	}
}
@media (max-width: 420px) {
	.stage {
		flex-direction: column!important;
		justify-content: center;
	}
	.info__content__container {
		flex-direction: column;
	}
	.content__time {
		width: 100%;
		text-align: center;
		justify-content: center;
		width: unset;
		order: 2;
		margin-top: 20px;
	}
	.content__subtitle {
		display: flex;
		margin-top: 10px!important;
	}
	.content__questions {
		order: 1;
	}
	.advantage__item {
		flex-basis: 100%;
		text-align: center;
	}
	.content__time p {
		width:unset;
		margin-bottom: 15px;

	}
	
	.content__subtitle .subtitle {
		margin-top: 10px;
	}
	.line {
		display: none;
	}
	.content__time * {
		max-width: unset;
		width: 100%;
		text-align: center;

	}
	.stage__images {
		margin: 0 auto;
	}
}

@media (max-width: 386px) {
	
}